.topBarIcons{
	-fx-fill: #636e72;
	-fx-cursor: hand;
}
.managerButton{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-text-fill: #efefef;
	-fx-background-radius: 0;
}
.managerButton:hover,
.managerButton.active{
	-fx-background-color: #efefef;
	-fx-text-fill:  #2c3e50;
}
.scroll-panel,
.scroll-panel > .viewport{
	-fx-background-color: transparent;
}

.backgroundColor_marine{
	-fx-background-color: rgba(44, 62, 80,.6);
	-fx-background-radius: 0;
}

.table-cell{
	-fx-padding: 10px 10px;
	-fx-background-color: #efefef;
	-fx-text-fill: #636e72;
	-fx-border-width: 0;
}
.table-cell:empty{
	-fx-border-width: 0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: #efefef;
    -fx-background-color: #2c3e50;
}

.table-row-cell:selected .cell,
.table-row-cell:selected:hover .cell{
	-fx-background-color: #636e72;
	-fx-text-fill: #efefef;
}

.table-row-cell:hover .cell,
.table-row-cell:odd:hover .cell{
	-fx-background-color: rgba(44, 62, 80,0.3);
	-fx-border-width: 0;
	-fx-cursor: hand;
}

.table-row-cell:empty:hover .cell{
	-fx-background-color: #efefef;
	-fx-cursor: default;
}
.table-view .column-header .label{
 	-fx-text-fill: #efefef;
    -fx-padding: 10px 0;
}

.table-row-cell:odd .cell{
	-fx-background-color: rgba(189, 195, 199,0.4);
	-fx-border-width: 0;
}
.table-row-cell:empty:odd .cell{
	-fx-background-color: #efefef;
}