/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-bg-color: rgba(44, 62, 80,.6);
}

.topBarIcons{
	-fx-fill: #636e72;
	-fx-cursor: hand;
}
.managerButton{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-text-fill: #efefef;
	-fx-background-radius: 0;
}
.managerButton:hover,
.managerButton.active{
	-fx-background-color: #efefef;
	-fx-text-fill:  #2c3e50;
}
.scroll-panel,
.scroll-panel > .viewport{
	-fx-background-color: transparent;
}

.backgroundColor_marine{
	-fx-background-color: -bg-color;
	-fx-background-radius: 0;
}